.panel-heading{padding-bottom: 4px;}
.panel .table{margin-bottom: -1px;}
#typeNav {border-bottom: none;}
.panel-actions .form-search{width: 400px;}
.panel-actions .form-search #product {min-width: 140px;}
.btn-toolbar form.search-box {width:auto}
form .input-group {width:120px;float:left}
form .input-group.button {width:50px}
form .input-group.button #submit {margin-right:0px}
