#websiteForm {padding:30px 50px}
.border {border:1px solid #ddd}
.border-top {border-bottom:0}
.border-body {border-top:0;border-bottom:0}
.border-bottom {border-top:0}
.space {height:20px}
.table.table-form .border-top > td {padding:10px;color:#999}
.cdnreseter{cursor:pointer;}
