.input-group.option {margin-bottom: 5px; max-width: 490px;}

.icon-file-image:before {content: '\f1c5';}
.icon-file-photo:before {content: '\f1c5';}
.icon-file-picture:before {content: '\f1c5';}
.file-size > span {display: block; text-align:left; padding-right: 0px;}
.file-info-size {min-width: 60px;}
.file-list .file[data-status=done] .actions > .btn{padding:3px 4px;}
.file-list .file[data-status=done] .actions > .btn-sort-file,
.file-list .file[data-status=done] .actions > .btn-edit-file {display: inline-block;}
.file-list .file-wrapper > .actions {width: 120px;}
#uploader {margin-bottom: 0}
.file-label-id {display: inline-block; padding: 0 2px; border: 1px solid #ccc; line-height: 14px; font-size: 12px; color: #999; margin-right: 5px;}
.btn-sort-file {display: inline-block !important;}

.file-list-grid .file-wrapper > .answer{
  position: absolute;
  right: -1px;
  bottom: -54px;
  left: -1px;
  display: block;
  text-align: center;
  padding-left: 20px;
}

.input-group-addon label[type=radio-inline]    {margin-bottom: 0px;}
.input-group-addon label[type=checkbox-inline] {margin-bottom: 0px;}

.table-form > tbody > tr > th {width:60px}
