a.product{color: #333;}
a.product:hover{color: #333;}
.fixedTheadOfList { position: fixed; top: 41px; z-index: 1000; background-color:#FFFFFF;}
.text-gray {color:#999999}

.table th.actions {font-size:12px}
.main-table > .table > tbody > tr > td.c-actions, .main-table > .table > thead > tr th.actions {padding:2px 0px}
