.license-title {font-size:14px;font-weight:600;margin-bottom:12px;padding-left:10px;}
.panel-heading {padding-bottom: 0;}
.cards .card{min-height:176px;border:1px solid #ddd; border-radius:4px; margin:8px; padding-top: 8px; box-shadow: 2px 2px 3px 2px #ddd, -2px 2px 2px 2px #fff }
#typeNav{padding-left: 20px;}
#typeNav li{font-size:14px;}
