.panel {background-color: transparent;}
.panel .panel-heading {padding: 0;}
.panel .panel-heading .breadcrumb {padding: 0;}
.panel table {margin-left: 16px;}
.panel table > thead > tr > th {padding: 12px 10px}
.panel table > thead > tr > th.actions {font-size: 12px; padding: 12px 0;}
.panel table > tbody > tr > td select, .panel table>tbody>tr>td input{border-radius: 4px;}
.panel table > tbody > tr > td.actions {padding: 8px 0;}
.panel table > tbody > tr > td .btn-icon {min-width: 22px; height: 22px; line-height: 17px;}
.panel table > tbody > tr > td input {overflow: hidden; text-overflow: ellipsis;}
.panel table > tbody > tr > td, .panel table>tfoot>tr>td {border-bottom: 0;}
.panel table > tbody > tr > td {padding: 8px 5px;}
.panel table > tbody > tr > td:first-child {padding: 8px 5px 8px 0;}
.panel table > tbody > tr:first-child>td:first-child {padding: 20px 5px 8px 0;}
.panel table > tbody > tr:first-child>td {padding: 20px 5px 8px 5px;}
.panel table > tbody > tr:first-child>td.actions {padding: 20px 0 8px 0;}
.panel table > tbody > tr:last-child>td.actions {padding: 8px 0 12px 0;}
.panel table > tfoot .actions {text-align: center;}
.panel table > tfoot .btn-back {margin-left: 10px;}
