#main {padding: 0;}

.form-control.fix-border {border-right: 0; border-left: 0}

#mainPanel {margin:54px 50px 0 50px; background-color: transparent;}
#mainPanel .panel-heading {padding: 4px 5px 0 5px}
#mainPanel .panel-body {padding: 30px 15px;}
#mainPanel .panel-body .form-footer {margin-top: 20px;}
#mainPanel .nav-dots > li > a {padding: 5px 10px 8px}
#mainPanel .nav-dots > li.active > a:before {background-color: #5BD0DC;}
#mainPanel .nav-dots > li.active > a {padding: 6px 10px 7px; color: #333; font-weight: bold;}

.table-form > tbody > tr > th {width: 110px;}
.table.table-form td.watermark-content{padding-right: 0;}
.table.table-form td.watermark-attribute{padding-left: 0; padding-right: 0;}
.colorplate{padding: 0; border: none;}
.color-tile {display: block; float: left; width: 30px; height: 30px; border-radius: 4px; border: 1px solid #ccc; margin: 2px 2px 0 0; cursor: pointer; transition: all 0.4s; text-align: center; line-height: 30px;}
.color-tile:hover, .color-tile.active {border-color: #333; box-shadow: 0 1px 4px rgba(0,0,0,0.5)}
.color .icon-ok, .color .icon-question {display: none}
.color.active > .icon-ok, .color.error > .icon-question, .color.active .input-group-btn > .dropdown-toggle > .icon-ok, .color.error .input-group-btn > .dropdown-toggle > .icon-question {display: inline;}
.color.active.error .icon-ok {display: none}
.color .input-group-addon {min-width: 40px; text-align: center; border-radius: 0;}

.input-group-btn > .dropdown-toggle {border-radius: 0;}
.input-group-addon .checkbox-inline {padding-top: 0;}

.dropdown-menu.colors {padding: 3px; width: 169px}
.dropdown-menu.buttons {padding: 5px; padding-bottom: 0;}
.dropdown-menu.buttons > li {margin-bottom: 5px;}

#ajaxForm .table, #watermarkTab .alert-danger{margin-bottom: 0;}

.watermark-footer, .thumb-footer{display: inline-block;}
#submit {margin-left:115px}
