td.title a {max-width:420px; white-space: nowrap;}
.table th.actions {font-size:12px}
.main-table > .table > tbody > tr > td.c-actions, .main-table > .table > thead > tr th.actions {padding:2px 0px}

span.span {position:relative}
span.span:before {content:' ';width:6px;height:6px;border-radius:6px;position:absolute;left:-10px;top:4px}
span.span-danger:before  {background-color:#e81d34}
span.span-success:before {background-color:#22d3b6}

.table td > a {display:inline}
